.cv-body{
 padding-left: 50px;
 margin-left: 50px;
 border-color: #2eb370;
 border-style:inset ;
 position: relative;

 
}


.iconos{
    padding-right:5px;
    display: flex;
    justify-content: space-evenly;
    


}

a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

i{
    padding-left: 5px;
}

.datos-personales{
    
    position:relative;
    width: 50%;
    margin-left: 30rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    
    border-style:dotted;
    padding: 5px;


}
.sobre-mi{
    position: relative;
    width: 45%;
    padding: 10px;
    border-style:dotted;
}

.formacion{
    position: fixed;
}
#dp-titulo{
    text-align: center;
}
