*{
	margin: 0;
	padding:0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


.lado-izq{
    color: grey;
    float: left;
    width: 40%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.lado-right{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    float: right;
    text-align: center;
    background-color: aqua;
    
}
.imagen{
    width: 40%;
}

